:root {
    --dark-blue: #051E34;
    --blue: #1B72E8;
}

.app-main {
    height: 100vh;
}

.app-nav {
    height: 70px;
    background-color: rgb(255, 255, 255);
}



.app-sidebar {
    width: 70px;
    background: url(../img/sidebar-bg.png) var(--dark-blue);
}



.app-contents-header {
    background-color: var(--blue);
    font-size: 15px;
}

.app-contents-header .col:nth-child(1) {
    flex-grow: 2;
}

.app-contents-header .col:nth-child(2) {
    flex-grow: 3;
}

.app-contents-header .col:nth-child(3) {
    flex-grow: 1;
}

.tablet-logo {
    display: none;
}

.mobile-logo,
.tablet-logo {
    max-height: 35px;
}

.input-group>* {
    background-color: rgb(234, 242, 247);
    border-radius: 12px;
    border: none;
}

.app-nav a:not(:nth-child(4)) {
    color: rgb(104, 104, 104);
}

.app-nav a:nth-child(4) {
    color: rgb(255, 112, 46);
}

.form-control:focus {
    background-color: rgb(234, 242, 247);
    box-shadow: 0 0 0 0.025em rgba(60, 107, 196, 0.301);
}

.sidebar-menu {
    height: 100%;
}

.sidebar-menu i {
    font-size: 20px;
    width: 35px;
    text-align: center;
}

.sidebar-menu li {
    width: 100%;
}

.sidebar-menu a {
    display: block;
    text-align: center;
    line-height: 35px;
    transition: 200ms all;
}

.sidebar-menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.sidebar-menu-text {
    display: none;
}

.offcanvas {
    background-image: url(../img/hello.png);
    background-repeat: no-repeat;
}

.badge {
    font-size: 0.8rem;
    font-weight: 500;
    background-color: #00000055;
}

.badge:not(.plus-sign) {
    padding-bottom: 6px;
}

.plus-sign {
    font-size: 12px;
    width: 22px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-hidden {
    display: none;
}

.app-contents-body .card {
    margin-top: 30px
}


.lessons-table {
    table-layout: fixed;
}


.lessons-table :is(th:not(:first-child), td:not(:first-child)) {
    text-align: center;
}

.lessons-table :is(th:nth-child(n+2):nth-child(-n+3), td:nth-child(n+2):nth-child(-n+3)) {
    display: none;
}


.table img {
    max-width: 30px;
    margin-right: 4px;
}

.table .btn {
    font-size: 14px;
}

/* TODO-LIST TEXT SCROLL ANIMATION */
@media screen and (max-width: 460px) {

    .todo-list .form-check-input {
        position: relative;
        z-index: 1;
    }

    .todo-list .list-group-item::before {
        content: '';
        width: 40px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

    .todo-list .list-group-item {
        white-space: nowrap;
        overflow: hidden;
    }

    .todo-list .form-check-label:hover {
        animation: text-scroll 5s linear infinite;
    }

    @keyframes text-scroll {
        0% {
            transform: translateX(0px);
        }

        100% {
            transform: translateX(-200px);
        }

    }

}


@media screen and (min-width: 992px) {

    .app-sidebar {
        width: 150px;
    }

    .tablet-logo {
        display: block;
    }

    .mobile-logo {
        display: none;
    }

    .sidebar-menu a {
        text-align: left;
        padding-left: 10px;
    }

    .sidebar-menu-text {
        display: inline;
        padding-left: 6px;
    }

    .mobile-hidden {
        display: block;
    }


    .plus-sign {
        display: none;
    }

    .app-contents-header .col:nth-child(1) {
        flex-grow: 3;
    }

    .app-contents-header .col:nth-child(2) {
        flex-grow: 2;
    }

    .app-contents-header .col:nth-child(3) {
        flex-grow: 1;
    }

    .lessons-table th:first-child {
        width: 40%;
    }

    .lessons-table :is(th:nth-child(n+2):nth-child(-n+3), td:nth-child(n+2):nth-child(-n+3)) {
        display: table-cell;
    }

}

::-webkit-scrollbar {
    background-color: rgb(230, 230, 230);
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(133, 133, 133);
    background-image: url(../img/sidebar-bg.png);
}


/* Debug */

.debug .col {
    border: 2px solid white;
}