:root {
    --dark-blue: #051E34;
    --blue: #1B72E8;
}

.app-main {
    height: 100vh;
}

.app-nav {
    height: 70px;
    background-color: rgb(255, 255, 255);
}

.app-body {
    background-color: blueviolet;
}

.app-sidebar {
    width: 70px;
    background: url(../img/sidebar-bg.png) var(--dark-blue);
}

/* .app-contents {
    overflow-y: overlay;
} */

.app-contents-header {
    background-color: var(--blue);
    font-size: 14px;
}

.tablet-logo {
    display: none;
}

.mobile-logo, .tablet-logo {
    max-height: 35px;
}

.input-group > * {
    background-color: rgb(234, 242, 247);    
    border-radius: 12px;
    border: none;
}

.app-nav a:not(:nth-child(4)) {
    color: rgb(104, 104, 104);
}

.app-nav a:nth-child(4) {
    color: rgb(255, 112, 46);
}

.form-control:focus {
    background-color: rgb(234, 242, 247);    
    box-shadow: 0 0 0 0.025em rgba(60, 107, 196, 0.301);
}

.sidebar-menu {
    height: 100%;
}

.sidebar-menu i {
    font-size: 20px;
    width: 35px;
    text-align: center;
}

.sidebar-menu li {
    width: 100%;
}

.sidebar-menu a {
    display: block;
    text-align: center;
    line-height: 35px;
    transition: 200ms all;
}

.sidebar-menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.sidebar-menu-text {
    display: none;
}

.offcanvas {
    background-image: url(../img/hello.png);
    background-repeat: no-repeat;
}

.badge {
    font-size: 0.8rem;
    font-weight: 500;
    background-color: #00000055;
}

.badge:not(.plus-sign) {
    padding-bottom: 6px;
}

.plus-sign {
    font-size: 12px;
    width: 22px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-hidden {
    display: none;
}

@media screen and (min-width: 992px)  {

    .app-sidebar {
        width: 150px;
    }

    .tablet-logo {
        display: block;
    }

    .mobile-logo {
        display: none;
    }

    .sidebar-menu a {
        text-align: left;
        padding-left: 10px;
    }

    .sidebar-menu-text {
        display: inline;
        padding-left: 6px;
    }

    .mobile-hidden {
        display: block;
    }


    .plus-sign {
        display: none;
    }

}

::-webkit-scrollbar {
    background-color:rgba(150, 129, 129, 0.11);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(131, 172, 219);
    border-radius: 20px;
}


/* Debug */

.debug .col {
    border: 2px solid white;
}