

.app-main {
    background-color: aqua;
    height: 100vh;
}

.app-nav {
    height: 70px;
    background-color: rgb(255, 255, 255);
}

.app-body {
    background-color: blueviolet;
}

.app-sidebar {
    width: 70px;
    background-color: violet;
}

.app-contents-header {
    background-color: cornflowerblue;
}

.tablet-logo {
    display: none;
}

.mobile-logo, .tablet-logo {
    max-height: 35px;
}

.input-group > * {
    background-color: rgb(234, 242, 247);    
    border-radius: 12px;
    border: none;
}

.app-nav a:not(:last-child) {
    display: none;
    color: currentColor;
}

.app-nav a:last-child {
    color: rgb(255, 112, 46);
}

.form-control:focus {
    background-color: rgb(234, 242, 247);    
    box-shadow: 0 0 0 0.025em rgba(60, 107, 196, 0.301);
}

@media screen and (min-width: 768px)  {

    .app-sidebar {
        width: 150px;
        background-color: violet;
    }

    .tablet-logo {
        display: block;
    }

    .mobile-logo {
        display: none;
    }

    .app-nav a:not(:last-child) {
        display: block;
    }

}

::-webkit-scrollbar {
    background-color:rgb(255, 255, 255);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
}


/* Debug */

.debug .col {
    border: 2px solid white;
}